@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 40px;
  position: relative; /* For proper positioning of copyright */
}

.text h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link img {
  width: 50px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.7rem;
  color: var(--color-text-muted);
  position: absolute; /* Positions it at the bottom */
  bottom: 10px; /* Adjust to fit spacing */
  width: 100%; /* Ensures it spans the footer */
}

/* Media queries for smaller screens */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
    padding: 40px 5%; /* Adjust padding for smaller screens */
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text h2 {
    font-size: 45px; /* Reduced font size */
  }

  .text p {
    font-size: 10px; /* Reduced font size */
  }

  .links {
    align-items: center;
    gap: 20px; /* Adjust gap for better spacing */
  }
  .link{
    gap: 5px;
  }
  .link a {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .link img {
    width: 30px; /* Adjust icon size for smaller screens */
  }
}
